body {
    background-color: #000000;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #352870;
    margin-top: 10px;
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

h1 {
    color: #352870;
}

footer img {
    width: 60px;
    height: 50px;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

footer a {
    margin: 20px;
}

footer p {
    margin: 10px
}

.container {
    padding: 0px 50px;
}

nav a {
    display: inline-block;
    transition: .2s;
}

nav a:hover {
    color: #352870;
    transform: scale(1.1);
}

h3 {
    color: #352870;
}

